.prices {
  background: url("../../img/prices.png") $violet-medium no-repeat;
  background-size: cover;
  color: $white;

  h3 {
    padding: 110px 0 122px;
    text-align: center;
    @media (max-width: $md) {
      padding: 80px 0 47px;
    }
    @media (max-width: $xs) {
      padding: 70px 15px 50px;
    }
  }

  &-holder {
    @include flex-between;
    padding-bottom: 164px;
    @media (max-width: $md) {
      padding: 0 15px 50px;
    }
    @media (max-width: $xs) {
      padding: 0 30px 50px;
    }
  }

  &-wrap {
    max-width: calc((100% / 4) - 14px);
    background: url(../../img/base.png) no-repeat;
    background-size: cover;
    flex: 0 0 25%;
    margin-right: 14px;
    text-align: center;
    padding-bottom: 38px;
    @media (max-width: $md) and (min-width: $sm) {
      max-width: calc((100% / 2) - 20px);
      flex: 0 0 50%;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }

    @media (max-width: $xs) {
      max-width: 100%;
      flex: 0 0 100%;
      margin: 0 0px 14px;
    }

    &-active {
      transform: scaleY(1.15);
      background: rgba(0, 0, 0, 0.3);
      @media (max-width: $xs) {
        transform: scaleX(1.1);
      }
    }

    &-caption {
      background: url("../../img/heading-bg.png") no-repeat;
      background-size: cover;
      height: 98px;
      @include flex-column-center-align;
      font-size: $font-size-22;
      @include uppercase;
    }
  }

  &-item {
    font-weight: $font-weight-black;
    font-size: $font-size-54;
    padding: 32px 0 24px;

    span {
      font-weight: $font-weight-normal;
    }
  }

  &-time {
    @include uppercase;
    opacity: 0.5;
    padding-bottom: 75px;
    position: relative;

    &:after {
      content: '';
      height: 5px;
      width: 60px;
      background: $primary-color;
      position: absolute;
      left: calc(50% - 30px);
      bottom: 30px;
    }
  }

  &-license {
    font-size: $font-size-15;
    min-height: 44px;
    line-height: 22px;
  }
}