.services {
  background: $violet-light;
  padding: 85px 0 60px;
  overflow-x: hidden;

  &-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
    @media (max-width: $md) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    @media (max-width: $xs) {
      padding: 0 28px;
      &:nth-child(3){
        padding: 0;
      }
    }
  }

  &-item {
    @include flex;
    margin: 12px 0 34px;
    padding-right: 100px;
    @media (max-width: $xs) {
      padding-right: 0px;
      margin: 0px 0 34px;
      text-align: center;
     @include flex-column-center;
    }

    &-caption {
      font-size: $font-size-16;
      margin-bottom: 20px;
      color: $black;
    }

    &-text {
      font-size: $font-size-14;
      line-height: 20px;
      color: $grey;
    }
  }

  &-inner {
    flex: 1;
  }

  &-img {
    flex: 0 0 134px;
    @media (max-width: $xs) {
      flex: unset;
      margin-bottom: 30px;
    }
  }

  .container {
    @include flex;
  }

  h3 {
    color: $violet;
    font-weight: $font-weight-black;
    margin-bottom: 20px;
    @media (max-width: $md) {
      display: none;
    }

    &.responcive-h3 {
      display: none;
      @media (max-width: $md) {
        width: 100%;
        display: block;
        text-align: center;
      }
      @media (max-width: $xs) {
        max-width: 227px;
        margin: 0 auto 34px;
      }
    }
  }

  .editor-img {

  }
}