@font-face {
  src: url(#{$font-path}Montserrat-Regular.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-normal;
}
@font-face {
  src: url(#{$font-path}/Montserrat-Bold.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-bold;
}
@font-face {
  src: url(#{$font-path}Montserrat-Medium.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-medium;
}
@font-face {
  src: url(#{$font-path}Montserrat-Light.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-light;
}
@font-face {
  src: url(#{$font-path}Montserrat-Light.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-black;
}