@mixin link-btn {
  display: inline-block;
  text-decoration: none;
}
@mixin uppercase{
  text-transform: uppercase;
}

//flex
@mixin flex {
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-center {
  @include flex;
  justify-content: center;
}

@mixin flex-column-center {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-column-center-align {
  @include flex-column-center;
  align-items: center;
}

@mixin flex-between {
  @include flex;
  justify-content: space-between;
}

@mixin flex-between-center {
  @include flex-between;
  align-items: center;
}
//END flex
