//color
$primary-color: #8d81ac;
$violet: rgba(141, 129, 172, 255);
$violet-dark: rgba(99, 92, 115, 255);
$violet-medium: #4b3c4f;
$violet-light: #f4f4f4;
$black: rgba(50, 50, 50, 255);
$grey: rgba(132, 142, 151, 255);
$white: #fff;
$transparent: transparent;

$border-radius: 50px;

//font
$font-family: "Montserrat", sans-serif;
$font-path: "../fonts/Montserrat/";

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-size-45: 45px;
$font-size-54: 54px;
$font-size-80: 80px;
$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-11: 11px;

$font-style: italic;

//media
$xs: 480px;
$sm: 481px;
$md: 992px;
$lg: 1200px;
